{
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "es5",
      "bracketSpacing": true,
      "parser": "flow",
      "printWidth": 120
    }]
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module"
  }
}
